# Ignore model files
week-1/saved_models/*.joblib
week-2/logistic_regression_wandb_project/*.pkl
week-2/logistic_regression_mlflow_project/*.pkl

# (Optional) Ignore all saved_models folders recursively
# saved_models/

# Ignore WandB and MLflow files
wandb/
mlruns/

Ignore Python cache files
week-1/src/__pycache__/
*.py[cod]

# # Ignore Jupyter Notebook checkpoints (if any)
# .ipynb_checkpoints/

# # Ignore environment or virtual env folders (if used)
# .env/
# venv/