# Ignore model files
week-1/saved_models/*.joblib

# (Optional) Ignore all saved_models folders recursively
# saved_models/

# Ignore Python cache files
# __pycache__/
# *.py[cod]

# # Ignore Jupyter Notebook checkpoints (if any)
# .ipynb_checkpoints/

# # Ignore environment or virtual env folders (if used)
# .env/
# venv/